.intro-section {
    background: var(--gradient-low-key);
    padding: 60px 20px;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
}