 html {
  scroll-behavior: smooth;
  height: 100%;
  background-color: white;
 }

 body {
  height: 100%;
  width: 99.5%;
  margin: 0;
  padding: 0;
  background-color: black;
  background-image: linear-gradient(to bottom right, red, yellow);
 }
 
 /* Add a black background color to the top navigation */
 .topnav {
    background-color: #333333;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    z-index: 10;
    top: 0px; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    display: block;
    transition: top 0.3s;
  }

  .topnav.big {
    background-color: transparent;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0px; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    display: block;
    transition: top 0.3s;
  }

  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #CC6848;
    text-align: center;
    padding: 8px 16px 8px;
    text-decoration: none;
    font-size: 24px;
  }
  
  .topnav p {
    padding-right: 40px;
  }

  .topnav.big a {
    float: left;
    display: block;
    color: #CC6848;
    text-align: center;
    padding: 8px 16px 8px;
    text-decoration: none;
    font-size: 30px;
  }

  .topnav a.split {
    float: right;
    color: #f2f2f2;
  }

  .topnav.big a.split {
    float: right;
    color: #f2f2f2;
  }

  /* Style the links inside the navigation bar */
  /*
  .topnav.name a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 4px 16px;
    text-decoration: none;
    font-size: 20px;
  }

  .topnav.name.big a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 4px 16px;
    text-decoration: none;
    font-size: 30px;
  }
  */
  
  /* Change the color of links on hover */
  .topnav a:hover {
    color: rgb(244, 115, 45);
  }

  .topnav a.split:hover {
    color: rgb(244, 115, 45);
  }

  .topnav h6:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  } 

.intro {
  /*background: url('images/wideLandscape.jpg');*/
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/wideLandscape.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%/*700px*/;
  padding-top: 0px;
  margin-top: 0px; /*Add a top margin to avoid content overlay*/
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

  .intro p {
    font-size: 2em;
    color: white;
    text-align: center;
  }

  .intro h1 {
    font-size: 4em;
    color: white;
    text-align: center;
  }

.headshot {
  border-radius: 50%;
  border: 5px solid white;
  width: 300px;
  height: 300px;
}

.cell {
  width: 200px;
  height: 200px;
  background-color: transparent;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.cellTwo {
  flex: 0 0 100%;                       /* don't grow, don't shrink, width */
  height: 30%;
  margin-bottom: 5px;
}

.about {
  background-color: #bbb9b7;
  width: 100%; /* Full width */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(150px, auto);
}

.sideInfo {
  grid-column-start: 2;
  grid-column-end: 4;
  text-align: center center;
}

.bottomInfo {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  padding-top: 10px;
  text-align: center;
}

.clickableImg {
  padding: 10px;
}

.clickableImg:hover {
  opacity: .7;
}

.download {
  background-color: rgb(202, 195, 195);
  cursor: pointer;
  align-items: center;
  width: fit-content;
}

.download:hover {
  background-color: #9d99ad;
}

* {box-sizing: border-box;}
/* Slideshow container */
.gallery {
  padding-top: 2.5%;
  max-width: 500px;
  position: relative;
  margin: auto;
}

.gallery img {
  vertical-align: middle;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.projects {
  width: 100%; /* Full width */
  padding-bottom: 25px;
  text-align: center;

}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 8px;
  justify-content: center;
}

.column {
  flex: 30%;
  max-width: 30%;
  padding: 0 8px;
}

.column img {
  margin-top: 16px;
  vertical-align: middle;
  width: 100%;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  display: none;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* Add Animation */
.modal-content {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.closeMod {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeMod:hover,
.closeMod:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

.container {
  position: relative;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: 0.3;
}

.container:hover {
  opacity: .7;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.skills {
  background-color: #ad5039; 
  width: 100%; /* Full width */
  text-align: center;
  padding-bottom: 30px;
}

.skills p {
  font-size: 20px;
}

.skillContainer p {
  font-size: 18px;
}

.rowSkill {
  display: flex;
  flex-wrap: wrap;
  padding: 0 8px;
  justify-content: center;
}

.columnSkill {
  flex: 30%;
  max-width: 33%;
  padding: 0 8px;
}

.skillContainer {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 300px;
  max-height: 300px;
}

.skillContainer img{
  height: 75px;
  width: 75px;
  border-radius: 50%;
  padding: 5px 5px 5px 5px;
  border: 2px solid white;
  background: white;
}

.contact {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/landscapeFritz.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%; /* Full width */
  position: relative;
  overflow: hidden;
}

.contact h1 {
  color: white;
}

.contact p {
  font-size: 30px;
  text-align: center;
  color: white;
}