 html {
  scroll-behavior: smooth;
 }

 body {
  margin: 0;
  padding: 0;
 }
 
 /* Add a black background color to the top navigation */
 .topnav {
    background-color: #333333a9;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    z-index: 10;
    top: 0px; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    display: block;
    transition: top 0.3s;
  }

  .topnav.big {
    background-color: transparent;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0px; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    display: block;
    transition: top 0.3s;
  }

  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 8px 16px 8px;
    text-decoration: none;
    font-size: 24px;
  }
  
  .topnav p {
    padding-right: 40px;
  }

  .topnav.big a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 8px 16px 8px;
    text-decoration: none;
    font-size: 30px;
  }

  /* Style the links inside the navigation bar */
  /*
  .topnav.name a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 4px 16px;
    text-decoration: none;
    font-size: 20px;
  }

  .topnav.name.big a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 4px 16px;
    text-decoration: none;
    font-size: 30px;
  }
  */
  
  /* Change the color of links on hover */
  .topnav a:hover {
    color: rgb(244, 115, 45);
  }

  .topnav h6:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  } 

.intro {
  background: url('images/wideLandscape.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 500px;
  padding-top: 0px;
  margin-top: 0px; /*Add a top margin to avoid content overlay*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

  .intro p {
    font-size: 32px;
    color: white;
    text-align: center;
  }

  .intro h1 {
    color: white;
    text-align: center;
  }

.cell {
  flex: 0 0 100%;
  height: 50%;
  margin-top:20%;
  margin-bottom: 5px;
  align-content: center center;
  /*background-color: #999;*/
}

.cellTwo {
  flex: 0 0 100%;                       /* don't grow, don't shrink, width */
  height: 30%;
  margin-bottom: 5px;
}

.about {
  background-color: #c47347;
  width: 100%; /* Full width */
}

.projects {
  width: 100%; /* Full width */
}

.contact {
  background-color: #797171;
  width: 100%; /* Full width */
}