<section id="portfolio-games" class="w-100 position-relative" style="padding: 0; margin: 0;">
  @if (portfolioGames()[currentGameIndex()]) {
    <app-portfolio-item 
      [currentGame]="currentGame()"
      (wheel)="onTransitionScroll($event)"
      (doneScrolling)="onItemDoneScrolling($event)"
    >
    </app-portfolio-item>
  }
  
  <!-- Progress bar for game transition -->
  @if (transitionProgress() > 0) {
    <div class="transition-progress-bar" [style.width.%]="transitionProgress() * 100"></div>
  }
</section>


